html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Roboto', sans-serif; */

}

body {
    background: rgba(240,240,240,.3);
    transition: transform 0.5s;
}

/* body {
  background: url(../img/portland.jpg) no-repeat;
  background-position: center;
  background-size: cover;
} */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 300;
}

.nav-col {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    z-index: 1;
}

aside.menu-wrapper {
  position: fixed;
  height: 100%;
  max-width: 25%;
  /* background: #fff; */
  background: #486b8e;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.menu-header {
    background: #FFFFFD;
    text-align: left;
    padding: 50px 0px 25px 15px;
    color: rgba(100,100,100,1);
}

h6.menu-header-subtitle {
    font-weight: 300;
}

.menu-button {
    text-align: left;
    width: 100%;
    height: 50px;
}

a .menu-button {
    /* color: rgba(100,100,100,1); */
    color: #FFFFFD;
    padding: 10px 15px;
}

.menu-wrapper a:hover {
    text-decoration: none;
    color: rgba(50,51,50,1);
}

a .menu-button:hover {
    background: rgba(240,240,240,1);
    color: rgba(100,100,100,1);
}

.highlighted {
  background: #FFFFFD !important;
  color: rgba(100,100,100,1) !important;
  padding-left: 35px !important;
}

a .menu-button i {
    display: inline-block;
    font-size: 24px;
}

a .menu-button i.fas.fa-user {
    color: #ba68c8;
}

a .menu-button i.fas.fa-file-alt {
    color: #00acc1;
}

a .menu-button i.fas.fa-toolbox {
    color: #1e88e5;
}

a .menu-button i.far.fa-chart-bar {
    color: #43a047;
}

a .menu-button i.fas.fa-graduation-cap {
    color: #bdbdbd;
}

a .menu-button i.fas.fa-envelope {
    color: #ef5350;
}

span.link-text {
    font-size: 16px;
    display: inline-block;
    padding: 0 7px;
}

.menu-button {
  border-bottom: 1px solid rgba(100,100,100,0.3);
  border-bottom: 1px solid #ffffff;
  transition: all 0.5s ease;
}

.col-body {
    /* background: #f9f9f9; */
    background: transparent;
    z-index: 0;
    /* padding: 0; */
    /* box-shadow: 0 10px 10px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22); */
}

/* .static-about {
    background: #8686ff;
    height: inherit;
    position: fixed;
} */

img {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border: unset;
}

img.img-fluid.profile-img {
    margin: 20px auto;
}

.profession {
    padding: 0 10%;
    padding-right: 25%;
    text-align: right;
}

.about-head {
    padding: 0 10%;
    padding-right: 25%;
    text-align: right;
}

.static-about p {
    font-size: 16px;
}

.profile-img-wrapper {
    margin: auto 0;
    text-align: center;
}

.contact-body li {
    list-style: none;
}

.row.mobile-menu {
    background: #fff;
    display: none;
}

.bar-wrapper {
    text-align: center;
    margin: auto;
    font-size: 32px;
}

i.fas.fa-bars {
    cursor: pointer;
}

.body-info {
  display: none;
  padding: 3% 0 0 0;
}

.card-wrapper {
    margin: 0% auto;
    width: 60%;
}

.card {
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    box-shadow: 0 0px 5px rgba(0,0,0,0.19), 0 5px 5px rgba(0,0,0,0.23);
    margin: 0% 0% 5% 0%;
}

.card-header {
    background: #ba68c8;
    color: white;
    font-size: 24px;
    font-weight: 300;
}

/* .card-header.about-header {
    padding: 0;
}

#about .card-header {
    background: #fff;
    background: url("../img/background-head.png");
    color: white;
    font-size: 24px;
} */

.card-header.dark-header {
    background: #883997;
}

span.work-site {
    padding: 0 30px;
}

section#experience .card-header {
    background: #00acc1;
}

section#experience .card-header.dark-header {
    background: #007c91;
}

section#projects .card-header {
    background: #1e88e5;
}

section#projects .card-header.dark-header {
    background: #005cb2;
}

section#skills .card-header {
    background: #43a047;
}

section#skills .card-header.dark-header {
    background: #00701a;
}

section#education .card-header {
    background: #bdbdbd;
}

section#education .card-header.dark-header {
    background: #8d8d8d;
}

section#contact .card-header {
    background: #ef5350;
}

section#contact .card-header.dark-header {
    background: #b61827;
}

.image-me {
    border-radius: 50%;
}

.quick-points ul {
    text-align: justify;
}

span.contact-link {
    display: inline-block;
    margin: 0 20px;
}

span.contact-link a {
    text-decoration: none;
    color: rgba(100,100,100,1);
    font-size: 50px;
}

span.contact-link a:hover {
    color: rgba(50,50,50,1);
    text-decoration: underline;
}

span.skill-icon {
    display: inline-block;
    max-width: 150px;
    font-weight: 700;
}

span.skill-icon img {
    max-width: 150px;
}

.row.job .col-md-5 {
    text-align: right;
}

h2.resume-header {
    text-align: right;
    padding-right: 10%;
}

.resume-header {
    margin: 50px 0;
}

.row.job .col-md-5 {
    text-align: right;
    border-right: 2px solid black;
    padding-top: 25px;
}

.row.job .col-md-7 {
    padding: 25px 10% 25px 0%;
}

.row.job .col-md-7 h3 {
    padding: 0 0 0 20px;
}

footer {
    height: 5%;
}

/* For large screens */
@media only screen and (min-width: 1280px) {

}

/* for screens less than 1280px */
@media only screen and (max-width: 1280px) {
  .card-wrapper {
      margin: 0% auto;
      width: 75%;
  }
}

/* for screens less than 1024px */
@media only screen and (max-width: 1024px) {
  .card-wrapper {
      margin: 0% auto;
      width: 90%;
  }
}

/* for screens less than 960px */
@media only screen and (max-width: 960px) {

}

/* for screens greater than 768px */
@media only screen and (min-width: 769px) {
  .nav-col {
      display: block !important;
  }
}

/* for screens less than 768px */
@media only screen and (max-width: 768px) {
  .row.mobile-menu {
      display: block;
  }
  aside.menu-wrapper {
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .menu-header {
    display: none;
  }
  .col-sm-2 {
      -webkit-box-flex: 0;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
  .col-sm-10 {
      -webkit-box-flex: 0;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
  .nav-col {
      display: none;
  }
  .quick-points ul {
    padding-inline-start: 20px;
  }
}

/* for screens less than 640px */
@media only screen and (max-width: 640px) {

}
